
.mainTab{
    width: 100%;
    height: calc( 100vh - 4.375rem );
    background-color: #1d212c;
    padding: 3vh 10vw;

}
.mainTabwoPad{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}
.safeAvailaible{
    width: 40%;
    height: 100%;
    background-color: 
    #151820;
}
.safeDetailsAndSecrets{
    height: 100%;
    width: 60%;
    background-image: linear-gradient(to bottom, #151820, #2c3040);
    display: flex;
    flex-direction: column;
}
.safeDetailes{
    height: 25%;
    
    background-color: #151820;
}
.safeSecrets
{
    height: 75%;
}
.searchBox{
    padding: 0.5rem 0;
    border-bottom:   1px solid #2a2e3e;; 
}
.SafeBox{
    height: 92%;
}
@media screen and (max-width: 768px) {
    .safeDetailsAndSecrets{
        display: none;
    }
    .safeAvailaible{
        width: 100%;
    }

}
@media screen and (min-width: 769px) {
    .safeDetailsAndSecrets{
        display: initial;
    }

}
