
    .safeMainTab{
        height: calc( 100%);
    }
    .availaibleSafes{
        height: calc(100% - 3rem);
        overflow: scroll;
    }.availaibleSafes::-webkit-scrollbar {
        display: none;
      }
    .noAvailaibleSafe{
        height: calc(100% - 3rem);
        display: flex;
        padding-top: 10vh;
        gap: 10vh;
        align-items: center;
    flex-direction: column;
    }

    .nonEmpty{
        position: fixed;

bottom: 7vh;
        left:35vw;
    }

    .safeMainTab>img{
        height: 100%;
    }
    .CompImage{
height: 30%;
    }
    @media screen and (max-width: 768px) {
        .nonEmpty{
            position: fixed;
            left: 78vw
        }
        
        }
.addIcon{
width: 4rem;
height: 4rem;
}

@media screen and (max-width: 500px){
.nonEmpty {
    position: fixed;
    left: 70vw;

}}
