*
{
    font-size: 16px;
}
.topBarAvailaibleSafe{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content:space-between;
    
    padding:0.5rem 0.2rem 0.5rem 1rem;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBarAvailaibleSafe>span{
    font-family: 'Roboto';
    font-size:1rem;
font-weight: bold;
}
.searchGroup
{
    width: 100%;
}
.searchGroup>input {
    font-family: 'Roboto';
    font-size: 0.8rem;
    padding: 0.55rem 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    border: 0;
    line-height: normal;
    letter-spacing: normal;
    width: 100%;
    background-color: #20232e;
    color: #5e627c;
    border-radius: 4px;
}
.topBarAvailaibleSafe>span{
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        white-space: nowrap;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        padding: 0;
        color: #fff;
display: flex;
align-items: center;
    }

input:focus{
    outline: 0px;
}
.SafeDetailsDesc{
padding-right: 3.4rem;
font-family: Helvetica;
font-size: 0.8rem;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.29;
letter-spacing: normal;
text-align: left;
color: #c4c4c4;
}